<link rel="stylesheet" href="/index.css">
<div>
    <div>
        <h1>{{item.title}}</h1>
    </div>
    <h2>Title {{item.title}}</h2> 
    <h4>Dir: {{item.dir}}</h4>
    <h4>Year: {{item.year}}</h4>
    <p>Oscar awards: {{item.oscars}}</p>
    <a href="/">Back</a>
</div>