<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="test/css" href="./css/styles.css"/>

    <title> Oscar Movies - {{title}} </title>
  </head>
 
  <body>
    <h1> Oscar Films</h1> 

<!-- Value submitted on request url -->
    <h2>Details of Film with title of {{ title }}:</h2> 



        <ul>
        {{#with details}}
        <h3>Title: {{ films.title }}</h3>
            <li class="Details"> Name of Director: {{ films.Dir }}
            <li class="Details"> Year: {{ films.year }}
            <li class="Details"> Number of Wins: {{ films.Oscars }}
        {{/with}}
        </ul>

<!-- Link back home -->
    <p class="home"><a href="../">Take me back home</a></p>